@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Book
@using LibrarySystem.Models;

<h2>@ViewBag.PageTitle</h2>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.BookTitle)
  @Html.TextBoxFor(model => model.BookTitle)
  @Html.LabelFor(model => model.BookPublisher)
  @Html.TextBoxFor(model => model.BookPublisher)

  @Html.LabelFor(model => model.Author)
  @Html.DropDownList("AuthorId")
  
  <input type="submit" value="Add new book" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Show all books", "Index")</p>