@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Book

<h4>Add a new book</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.BookTitle)
  @Html.TextBoxFor(model => model.BookTitle)
  @Html.LabelFor(model => model.BookPublisher)
  @Html.TextBoxFor(model => model.BookPublisher)

  @Html.LabelFor(model => model.Author)
  @Html.DropDownList("AuthorId")
  
  <input type="submit" value="Add new book" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Show all book", "Index")</p>