@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Book

<h2>@ViewBag.PageTitle</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.BookTitle)
  @Html.TextBoxFor(model => model.BookTitle)

  @Html.LabelFor(model => model.BookCopyId)
  @Html.TextBoxFor(model => model.BookCopyId)

  @Html.LabelFor(model => model.BookPublisher)
  @Html.TextBoxFor(model => model.BookPublisher)

  @Html.LabelFor(model => model.Author)
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save" />
  @Html.ActionLink("Discard changes", "Details", new {id = Model.BookId})
}
<p>@Html.ActionLink("Back to list", "Index")</p>