@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Patron


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatronId)
  @Html.Label("Check out a book")
  @Html.DropDownList("BookId")

  @Html.LabelFor(model => model.PatronName)
  @Html.TextBoxFor(model => model.PatronName)

  @Html.LabelFor(model => model.LibraryCard)
  @Html.TextBoxFor(model => model.LibraryCard)

  <input type="submit" value="Place hold" />
}

<p>@Html.ActionLink("Go back", "Details", new {id = Model.PatronId})</p>