@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Author
@using LibrarySystem.Models
@using System.Collections.Generic

<h2>@ViewBag.PageTitle</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.AuthorFirstName): @Html.DisplayFor(model => model.AuthorFirstName)</h3>
<h3>@Html.DisplayNameFor(model => model.AuthorLastName): @Html.DisplayFor(model => model.AuthorLastName)</h3>

@if(@Model.Books.Count == 0)
{
  <p>This Author does not contain any books</p>
}
else
{
  <h4>Books by author:</h4>
  <ul>
    @foreach (Author author in Model.Authors)
    {
      <li>@Html.ActionLink($"{author.AuthorLastName}", "Details", "Authors", new { id = author.AuthorLastName})</li>
      
    }
  </ul>
}

<p>@Html.ActionLink("Back to Authors", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>
