@{
  Layout = "_Layout";
}

@model LibrarySystem.Models.Author

<h2>Edit</h2>

<h4>Edit this author: @Html.DisplayFor(model => model.AuthorFirstName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.AuthorFirstName)
  @Html.TextBoxFor(model => model.AuthorFirstName)

  @Html.LabelFor(model => model.AuthorLastName)
  @Html.TextBoxFor(model => model.AuthorLastName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>